<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
                In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form  autocomplete="off" class="js-form-login">
                        <div class="group">
                            <label for="user" class="label" >email</label>
                            <input id="user" type="text" class="input" name="email">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" name="password">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        <div class="hr"></div>
                    </form>
                    <div class="foot-lnk">
                        <a href="#" class="js-forgot">Forgot Password?</a>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <form autocomplete="off" class="js-form-register">
                        <div class="group">
                            <label for="user1" class="label">First name</label>
                            <input id="user1" type="text" class="input" name="first_name">
                        </div>
                        <div class="group">
                            <label for="user2" class="label">Last name</label>
                            <input id="user2" type="text" class="input" name="last_name">
                        </div>
                        <div class="group">
                            <label for="user3" class="label">Phone</label>
                            <input id="user3" type="text" class="input" name="phone">
                        </div>
                        <div class="group">
                            <label for="pass2" class="label">Password</label>
                            <input id="pass2" type="password" class="input" data-type="password" name="password">
                        </div>
                        <div class="group">
                            <label for="pass3" class="label">Repeat Password</label>
                            <input id="pass3" type="password" class="input" data-type="password" name="repeat_password">
                        </div>
                        <div class="group">
                            <label for="pass4" class="label">Email Address</label>
                            <input id="pass4" type="text" class="input" name="email">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                    </form>
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/login.js"></script>
    <script src="js/index.js"></script>
</body>

</html>